@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --primary-color: #571244;
  --secondary-color: ;
  --tertiary-color: #ef4353;
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: "Nunito", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  max-width: 1580px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.03em;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }
}

/* 425px (mobile), 768px (tablet), and 1280px+ */
